.adh-b{
  width: 730px;
  height: 100px;
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  cursor: pointer;
}

.adh-expand-progress {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 4px;
  background-color: #d4603c;
  z-index: 9999;
}

.adh-b-close{
  position: fixed;
  bottom: 0;
  right: -35px;
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 0px 20px 0px 0px;
}

.adh-b-close button {
  font-family: sans-serif;
  font-weight: bold;
  border: none;
  background-color: transparent;
  color: #fff;
  width: 35px;
  height: 35px;
  cursor: pointer;
  position: relative;
}

.adh-b-close button span {
  position: absolute;
  top: 57%;
  left: 45%;
  transform: translate(-50%, -50%);
}